.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
    height: 75px;
    width: 100px;
    background-color: #0074d9;
    border-radius: 5px;
    margin-bottom: 30px;
    float: left;
    margin-top: 10px;
    transition: width 2s, height 2s, transform 2s;  
  }

  .shape:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
  }