.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stack{
    text-align: center;
    margin-top: 100px;
}
.message{
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
 h1{
     font-family: cursive;
 }
.button4 {

  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(163, 108, 108);
  background-color: whitesmoke;
  border: none;
  border-radius: 15px;
  }


.button4:hover { background-color: #44151ced;}

.button4:active {
  background-color: #f11637ed;
  transform: translateY(4px);
}

#input{
  margin-top: 50px;
}
input{
  width: 50% !important;
}
.form__label {
  font-family: monospace;
  font-size: 3.0rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  margin-bottom: 2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: rgb(248, 246, 246) !important;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(243, 47, 47) !important;
  border: 1px solid black ;
  width: 90%;
  display: block;
  transition: all 0.3s;

}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  color: rgb(248, 246, 246) !important;
}
@media all and (max-width:30em){

  .button4{
    display: block;
    margin: 0.2em auto;
  }
}